<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | Администратор</title>

    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <link rel="shortcut icon" href="~/Content/assets/images/favicon.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/admin.css">
</head>
<body>
    <header id="header">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                Akon<i class="fa fa-paperclip"></i>CMS
            </a>
        </div>
        @Html.Partial("LoginPartial")
    </header>
    <div id="main">
        <aside>
            <ul class="main-navigation-menu">
                <li class="" data-cur-url="/admin" data-url="/admin">
                    <a href="/admin">
                        <i class="fa fa-home"></i>
                        <span class="title">Консоль</span>
                    </a>
                </li>
                <li class="" data-cur-url="/admin/settings" data-url="/admin/settings">
                    <a href="/admin/settings">
                        <i class="fa fa-cog"></i>
                        <span class="title">Настройки</span>
                    </a>
                </li>
                <li class="" data-cur-url="/admin/winners" data-url="/admin/winners">
                    <a href="/admin/winners">
                        <i class="fa fa-trophy"></i>
                        <span class="title">Победители</span>
                    </a>
                </li>
            </ul>
        </aside>
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <footer id="footer">
        <div class="copy">
            2015 © akonCMS
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryunobtrusiveajax")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Content/assets/js/admin.js"></script>

    <script>
        $(document).ready(function ($) {
            Admin.init();
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
