<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta content="@ViewBag.Description" name="description" />
    <meta content="@ViewBag.Keywords" name="keywords" />

    <link rel="shortcut icon" href="~/Content/assets/images/favicon.ico" />
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/non-responsive.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">

    <link rel="stylesheet" href="~/Content/assets/plugins/slick/slick.css">
    <link rel="stylesheet" href="~/Content/assets/plugins/soon-countdown/css/soon.min.css" />

</head>
<body>
    @RenderBody()

    <div id="rules">
        <div class="container">
            <div class="heading">
                <i class="icon icon-cubic"></i>
                Правила игры
            </div>
            <div class="post">
                @{Html.RenderAction("OptionPartial", "Home", new { id = 4 });}
            </div>
        </div>
    </div>
    <div id="history">
        <div class="heading">
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#year2015" data-toggle="tab">2015</a></li>
                    <li><a href="#year2014" data-toggle="tab">2014</a></li>
                    <li><a href="#year2013" data-toggle="tab">2013</a></li>
                    <li><a href="#year2012" data-toggle="tab">2012</a></li>
                </ul>
                <i class="icon icon-lenta"></i>
                История выигрышей
            </div>
        </div>
        <div class="line"></div>
        <div class="container">
            <div class="tab-content">
                <div class="tab-pane active" id="year2015">
                    <ul class="winners">
                        <li>
                            <div class="award">
                                44 512$
                            </div>
                            <div class="info">
                                <p>11.05.2015</p>
                                Украина г.Киев
                            </div>
                        </li>
                        <li>
                            <div class="award">
                                512$
                            </div>
                            <div class="info">
                                <p>11.05.2015</p>
                                Украина г.Киев
                            </div>
                        </li>
                        <li>
                            <div class="award">
                                404 512$
                            </div>
                            <div class="info">
                                <p>11.05.2015</p>
                                Украина г.Киев
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" id="year2014">
                    <div class="alert alert-info">
                        <b>Нет победителей!</b>
                    </div>
                </div>
                <div class="tab-pane" id="year2013">
                    <div class="alert alert-info">
                        <b>Нет победителей!</b>
                    </div>
                </div>
                <div class="tab-pane" id="year2012">
                    <div class="alert alert-info">
                        <b>Нет победителей!</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#modal_letter">
                        Написать нам
                    </button>
                </div>
                <div class="col-xs-6">
                    <div class="copy">
                        © @DateTime.Now.Year @{Html.RenderAction("OptionPartial", "Home", new { id = 5 });}
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @{
        Html.RenderAction("HomeLetter", "ContactForms");
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryunobtrusiveajax")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Content/assets/plugins/slick/slick.min.js"></script>
    <script src="~/Content/assets/plugins/soon-countdown/js/soon.min.js"></script>
    <script src="~/Content/assets/js/default.js"></script>

    <script>
        $(document).ready(function ($) {
            Main.init();
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
