@model List<Lotereya.Models.article>

<div id="bthInsert" class="btn btn-default">
    Добавить новую запись
</div>

<div class="article-edit-part">

</div>

@if ((Model != null)&&(Model.Count>0))
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model[0].place)
            </td>
            <td>
                @Html.LabelFor(model => model[0].JackPot)
            </td>
            <td>
                @Html.LabelFor(model => model[0].date)
            </td>
            <td>
                
            </td>
            <td>
               
            </td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.place
                </td>
                <td>
                    @item.JackPot
                </td>
                <td>
                    @item.date.ToShortDateString()
                </td>
                <td>
                    <div data-id="@item.id_article" id="bthEdit" class="btn btn-default">Редактировать</div>
                </td>
                <td>
                    <div data-id="@item.id_article" id="btnDelete" class="btn btn-default">Удалить</div>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="alert alert-info">
       Записи отсутствуют
    </div>
}

<script>
    $(function () {
        $("#bthInsert").click(function () {
            $(".article-edit-part").load("/admin/ArticleEditPartial", function () {
                $("input[id='id_article']").val(0);
            });
        });

        $("#bthEdit").click(function () {
            $(".article-edit-part").load("/admin/ArticleEditPartial?id_article=" + $(this).attr("data-id"));
        });
    });
</script>
