@model Lotereya.Models.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = "Востановление доступа";
}
<div class="box-login">
    <h3>Забыли пароль?</h3>
    <p>
        Введите Ваш e-mail для востановления пароля
    </p>
    @using (Html.BeginForm("ForgotPassword", "Admin", FormMethod.Post, new { @class = "form-forgot" }))
    {
        @Html.ValidationSummary(false)
        @Html.AntiForgeryToken()
        <div class="form-group">
            <span class="input-icon">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                <i class="fa fa-envelope"></i></span>
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-actions">
            <a class="btn btn-light-grey go-back" href="@Url.Action("Login", "Admin")">
                <i class="fa fa-circle-arrow-left"></i>Назад
            </a>
            <button type="submit" class="btn btn-bricky pull-right">
                Отправить <i class="fa fa-arrow-circle-right"></i>
            </button>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
