@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Общие настройки";
}

<h2>Настройки</h2>
<hr />
@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger">
        @ViewData["Error"]
    </div>
}

@if (ViewData["Info"] != null)
{
    <div class="alert alert-info">
        @ViewData["Info"]
    </div>
}
<div class="row">
    <div class="col-sm-5">
        <div class="panel panel-default">
            <div class="panel-heading">Общие</div>
            <div class="panel-body">
                @using (Ajax.BeginForm("UpdateOption", "Admin",
                    new AjaxOptions { HttpMethod = "Post", OnBegin = "ContactFormBegin", OnFailure = "ContactFormFailure", OnSuccess = "ContactFormSuccess" },
                    new { enctype = "multipart/form-data", @class = "frm form-horizontal" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="grupa" value="1" />
                    Html.RenderAction("OptionsList", "Admin", new { grupa = "1" });
                    
                    <div class="form-group form-bot">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary frm-submit">Отправить</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Тексты</div>
            <div class="panel-body">
                @using (Ajax.BeginForm("UpdateOption", "Admin",
                    new AjaxOptions { HttpMethod = "Post", OnBegin = "ContactFormBegin", OnFailure = "ContactFormFailure", OnSuccess = "ContactFormSuccess" },
                    new { enctype = "multipart/form-data", @class = "frm form-horizontal" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="grupa" value="3" />
                    Html.RenderAction("OptionsList", "Admin", new { grupa = "3" });
                    
                    <div class="form-group form-bot">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary frm-submit">Отправить</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="panel panel-default">
            <div class="panel-heading">Реклама</div>
            <div class="panel-body">
                @using (Ajax.BeginForm("UpdateOption", "Admin",
                    new AjaxOptions { HttpMethod = "Post", OnBegin = "ContactFormBegin", OnFailure = "ContactFormFailure", OnSuccess = "ContactFormSuccess" },
                    new { enctype = "multipart/form-data", @class = "frm form-horizontal" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="grupa" value="2" />
                    Html.RenderAction("OptionsList", "Admin", new { grupa = "2" });
                    
                    <div class="form-group form-bot">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary frm-submit">Отправить</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">СЕО настрйоки</div>
            <div class="panel-body">
                @using (Ajax.BeginForm("UpdateOption", "Admin",
                    new AjaxOptions { HttpMethod = "Post", OnBegin = "ContactFormBegin", OnFailure = "ContactFormFailure", OnSuccess = "ContactFormSuccess" },
                    new { enctype = "multipart/form-data", @class = "frm form-horizontal" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="grupa" value="4" />
                    Html.RenderAction("OptionsList", "Admin", new { grupa = "4" });
                    
                    <div class="form-group form-bot">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary frm-submit">Отправить</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}